<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Visual Event Recognition</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/Bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/Bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/Bootstrap/grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/Bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/Bootstrap//assets/js/respond.min.js"></script>
    <![endif]-->

      <style>

            .form-control {
                width: 15%;
            }

            #submitButton {
                margin-left: 10px;
            }


            #previewButton {
                margin-top: 10px;
                margin-bottom: 10px;
            }

      </style>


<script>


function previewTrain(){

    var numberOfTrainNum = document.getElementById("trainNum").value

    $.ajax({
        type: "GET",
        data: {num: numberOfTrainNum},
        url: "/previewTrainData",

       success: function(data){
           document.getElementById("trainVideos").innerHTML = data;
         }
    });
}

function train(){
    $.ajax({
        type: "GET",
        url: "/train",

        success: function(data){
            document.getElementById("trainDistanceTable").innerHTML = data;

            $('html, body').animate({
                scrollTop: $("#trainDistanceTable").offset().top
            }, 1500);
        }
    });



}


function previewTest(){

    var numberOfTestNum = document.getElementById("testNum").value

    $.ajax({
        type: "GET",
        data: {num: numberOfTestNum},
        url: "/previewTestData",

       success: function(data){
           document.getElementById("testVideos").innerHTML = data;
         }
    });
}

function test(){
    $.ajax({
       type: "GET",
        url: "/test",

        success: function(data){
            document.getElementById("testDistanceTable").innerHTML = data;

            $('html, body').animate({
                scrollTop: $("#testDistanceTable").offset().top
            }, 1500);
        }

    });



}

</script>


</head>

  <body>

   <div class="container">

      <div class="page-header">
        <h1>Visual Event Recognition (Mode 1) </h1>
        <p class="lead">Demo to present how to recognize visual events in unlabelled videos.</p>
      </div>

      <div class="input-group">
            <span class="input-group-addon">Number of training videos for each class</span>
            <input type="number" class="form-control" value="3" id = "trainNum">
            <input type="SUBMIT" value="Submit" class="btn btn-primary" id ="submitButton" onclick="train()">
      </div>


      <button type="button" class="btn btn-default" onclick= "previewTrain()" id = "previewButton">Preview</button>

      <div id = "trainVideos">

      </div>

      <div id = "trainDistanceTable">

      </div>

{# ----------------------------Test videos#}
      <div class="input-group">
        <span class="input-group-addon">Number of testing videos for each class</span>
        <input type="number" class="form-control" value="3" id = "testNum">
        <input type="SUBMIT" value="Submit" class="btn btn-primary" id ="submitButton" onclick="test()">
      </div>

      <button type="button" class="btn btn-default" onclick= "previewTest()" id = "previewButton">Preview</button>

      <div id = "testVideos">

      </div>

      <div id = "testDistanceTable">

      </div>


    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/Bootstrap/assets/js/jquery.js"></script>
    <script src="/static/Bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/Bootstrap/assets/js/holder.js"></script>
  </body>
</html>
