<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Visual Event Recognition</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/Bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/Bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/Bootstrap/grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/Bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/Bootstrap//assets/js/respond.min.js"></script>
    <![endif]-->

      <style>

            .form-control {
                width: 15%;
            }

            #submitButton {
                margin-left: 10px;
            }


            #previewButton {
                margin-top: 10px;
                margin-bottom: 10px;
            }

         td.upper_line { border-top:solid 1px black; }
    table.fraction { text-align: center; vertical-align: middle;
        margin-top:0.5em; margin-bottom:0.5em; line-height: 2em; }

          h3 {display:inline-block;  }

      </style>


<script>


function previewTrain(){

    var numberOfTrainNum = document.getElementById("trainNum").value

    $.ajax({
        type: "GET",
        data: {num: numberOfTrainNum},
        url: "/previewTrainData",

       success: function(data){
           document.getElementById("trainVideos").innerHTML = data;
         }
    });
}

function train(){
    $.ajax({
        type: "GET",
        url: "/train",

        success: function(data){
            document.getElementById("trainDistanceTable").innerHTML = data;

            $('html, body').animate({
                scrollTop: $("#trainDistanceTable").offset().top
            }, 1500);
        }
    });



}


function previewTest(){

    $.ajax({
        type: "GET",
        url: "/previewTestData",

       success: function(data){
           document.getElementById("testVideos").innerHTML = data;
         }
    });
}

function test(){
    $.ajax({
       type: "GET",
        url: "/test",

        success: function(data){
            document.getElementById("testDistanceTable").innerHTML = data;

            $('html, body').animate({
                scrollTop: $("#testDistanceTable").offset().top
            }, 1500);
        }

    });



}

</script>


</head>

  <body>


   <div class="container">

      <div class="page-header">
        <h1>Visual Event Recognition (Mode 1) </h1>
        <p class="lead">Demo to present how to recognize visual events in unlabelled videos.</p>
      </div>



     <div class="panel panel-success">

         <div class="panel-heading">
          <h3 class="panel-title">Data Set</h3>
        </div>

          <table class = "table" align="center">

           <tr>
             <td> birthday </td>
             <td> parade </td>
             <td> picnic </td>
             <td> show </td>
             <td> sports </td>
             <td> wedding </td>
             <td>total</td>
           </tr>

          <tr>
              <td>81</td>
              <td>76</td>
              <td>56</td>
              <td>110</td>
              <td>179</td>
              <td>62</td>
              <td>564</td>
          </tr>

          </table>
      </div>



<div class="panel panel-info">
 <div class="panel-heading">
  <h3 class="panel-title">Training Videos</h3>
</div>

    <div class="panel-body">

      <div class="input-group">

            <h3><span class="label label-default" >Number of training videos for each class (less than 60)</span></h3>
            &nbsp;
            <input type="number" class="form-control" value="20" id = "trainNum">
            &nbsp;
            <button type="button" class="btn btn-default" onclick= "previewTrain()" id = "previewButton">Preview</button>
            &nbsp;
            <input type="SUBMIT" value="Build" class="btn btn-primary" id ="submitButton" onclick="train()">
      </div>


      <div id = "trainVideos">

      </div>

      <div id = "trainDistanceTable" style="overflow: scroll">

      </div>
    </div>

</div>




{# ----------------------------Test videos#}
<div class="panel panel-warning">
 <div class="panel-heading">
  <h3 class="panel-title">Testing Videos</h3>
</div>

    <div class="panel-body">
      <div class="input-group">
        <button type="button" class="btn btn-default" onclick= "previewTest()" id = "previewButton">Preview</button>
        <input type="SUBMIT" value="Recognize" class="btn btn-primary" id ="submitButton" onclick="test()">
      </div>


      <div id = "testVideos">

      </div>

    </div> <!-- /container -->
</div>


<div class="panel panel-danger">
 <div class="panel-heading">
  <h3 class="panel-title">Results</h3>
</div>

    <div class="panel-body">

        <div id = "testDistanceTable">

      </div>
</div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/Bootstrap/assets/js/jquery.js"></script>
    <script src="/static/Bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/Bootstrap/assets/js/holder.js"></script>
  </body>
</html>
