<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Visual Event Recognition</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/Bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/Bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/Bootstrap/grid.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/ImageGallery/css/style.css">
    <link rel="stylesheet" href="/static/ImageGallery/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/ImageGallery/css/bootstrap-image-gallery.css">


      <!--[if lt IE 9]>
      <script src="/static/Bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/Bootstrap//assets/js/respond.min.js"></script>
    <![endif]-->

      <style>
        #submitPath {
            margin: 5px;
        }

        #videoPath {
            margin: 5px;
        }

        .img-rounded {
            margin-top: 10px;
        }

        .input-group-addon {
            background: black;
        }


      </style>


<script>
var frameExtractionProgress = 0;
var frameProgressController;

var featureExtractionProgress = 0;
var featureProgressController;

var histogramExtractionProgress = 0;
var histogramProgressController;


var classifyExtractionProgress = 0;
var classifyProgressController;

function inputVideo(){
    frameExtractionProgress = 0;

    document.getElementById("frameBar").innerHTML = "<div class = \"progress\"><div class=\"progress-bar progress-bar-info\" id = \"frameProgress\" role=\"progressbar\" aria-valuenow=\"20\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 0%\"></div></div>"

    var videoPath = $("#videoPath").val()

    $.ajax({
        type: "GET",
        data: {path: videoPath},
        url: "/startFrames",

        success: function(data){
                document.getElementById("gallery").innerHTML = data;
                document.getElementById("featureButton").innerHTML = "<input type=\"submit\" class=\"btn btn-primary\" onclick=\"extractFeatures()\" value=\"Extract features\">";

        }

    });

    frameProgressController = setInterval(pollFrameProgress,1000);
}

function pollFrameProgress(){

    if(frameExtractionProgress >= 100){
        clearInterval(frameProgressController);
        frameExtractionProgress = 0;
    }

    $.ajax({

        type:"GET",
        url: "/frameProgressBar",

        success: function(data){
            frameExtractionProgress = parseInt(data);
            document.getElementById("frameProgress").style.width = frameExtractionProgress.toString().concat("%");
        }
    });

}

function extractFeatures(){
    document.getElementById("featureBar").innerHTML = "<div class = \"progress\"><div class=\"progress-bar progress-bar-info\" id = \"featureProgress\" role=\"progressbar\" aria-valuenow=\"20\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 0%\"></div></div>"

    $.ajax({
        tpe: "GET",
        url: "/startFeatures",

        success: function(data){
            document.getElementById("featureMessage").innerHTML = data;
        }
    });

    featureProgressController = setInterval(pollFeatureProgress, 1000);


}

function pollFeatureProgress(){

    if (featureExtractionProgress >= 100){
        clearInterval(featureProgressController);
        featureExtractionProgress = 0;
        document.getElementById("histogram").innerHTML = "<input type=\"submit\" class=\"btn btn-primary\" onclick=\"histogramize()\" value=\"Convert features to histogram matrix\">";

    }

    $.ajax({
        type: "GET",
        url: "/featureProgressBar",

        success: function(data){
            featureExtractionProgress = parseInt(data);
            document.getElementById("featureProgress").style.width = featureExtractionProgress.toString().concat("%");
        }
    });
}

function histogramize(){
    document.getElementById("histogramBar").innerHTML = "<div class = \"progress\"><div class=\"progress-bar progress-bar-info\" id = \"histogramProgress\" role=\"progressbar\" aria-valuenow=\"20\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 0%\"></div></div>"

    $.ajax({
       type: "GET",
       url: "/histogram",

       success: function(data){
           document.getElementById("histogramMes").innerHTML = data;
       }
    });

    histogramProgressController = setInterval(pollHistogramProgress, 1000);
}

function pollHistogramProgress(){
    if(histogramExtractionProgress >= 100){
        clearInterval(histogramProgressController);
        histogramExtractionProgress = 0;
    }

    $.ajax({
       type: "GET",
       url: "/histogramProgressBar",

       success: function(data){
           histogramExtractionProgress = parseInt(data);
           document.getElementById("histogramProgress").style.width = histogramExtractionProgress.toString().concat("%");
       }
    });
}

{#    Train js function #}
function previewTrain(){

    var numberOfTrainNum = document.getElementById("trainNum").value

    $.ajax({
        type: "GET",
        data: {num: numberOfTrainNum},
        url: "/previewTrainDataMode2",

       success: function(data){
           document.getElementById("trainVideos").innerHTML = data;
         }
    });
}

function train(){
    $.ajax({
        type: "GET",
        url: "/trainMode2",

        success: function(data){
            document.getElementById("trainDistanceTable").innerHTML = data;

            document.getElementById("classify").innerHTML = "<input type=\"submit\" class=\"btn btn-primary\" onclick=\"classify()\" value=\"Recognize the test video\">";

        }
    });

    $('html, body').animate({
        scrollTop: $("#trainDistanceTable").offset().top
    }, 1500);

}


function classify(){

    document.getElementById("classifyBar").innerHTML = "<div class = \"progress\"><div class=\"progress-bar progress-bar-info\" id = \"classifyProgress\" role=\"progressbar\" aria-valuenow=\"20\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 0%\"></div></div>"

    $.ajax({
       type: "GET",
       url: "/classify",

       success:function(data){
           document.getElementById("predictResult").innerHTML = data;
       }
    });

    classifyProgressController = setInterval(pollClassifyHistogram, 1000);
}

function pollClassifyHistogram(){

    if (classifyExtractionProgress >= 100){
        clearInterval(classifyProgressController);
        classifyExtractionProgress = 0;
    }

    $.ajax({
        type:"GET",
        url: "/classifyProgress",

        success: function(data){
            classifyExtractionProgress = parseInt(data);
            document.getElementById("classifyProgress").style.width = classifyExtractionProgress.toString().concat("%");
        }


    });
}

</script>


</head>

  <body>

   <div class="container">

      <div class="page-header">
        <h1>Visual Event Recognition (Mode 2)</h1>
        <p class="lead">Demo to present how to recognize visual events in videos uploaded by users.</p>
      </div>

      <input type="file" name="video" id = "videoPath">
      <input type="submit"class="btn btn-primary" id = "submitPath" onclick="inputVideo()" value="Extract frames">


    <div id = "frameBar">
    </div>

    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

    </div>

    <div id ="featureButton"></div>
    <div id ="featureBar"></div>
    <div id = "featureMessage"></div>

    <div id = "histogram"></div>
    <div id = "histogramBar"></div>
    <div id = "histogramMes"></div>





   {#  Train SVM classifier  #}
   <div class="input-group">
            <span class="input-group-addon">Number of training videos for each class</span>
            <input type="number" class="form-control" value="30" id = "trainNum">
            <input type="SUBMIT" value="Submit" class="btn btn-primary" id ="submitButton" onclick="train()">
   </div>

   <button type="button" class="btn btn-default" onclick= "previewTrain()" id = "previewButton">Preview</button>

   <div id = "trainVideos">

   </div>

   <div id = "trainDistanceTable">

   </div>

   <div id = "classify">

   </div>

   <div id = "classifyBar">

   </div>


   <div id = "predictResult">

   </div>



    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/Bootstrap/assets/js/jquery.js"></script>
    <script src="/static/Bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/Bootstrap/assets/js/holder.js"></script>

  </body>
</html>
