
<center>
    <table class = "table">

        <tr>
            <td>birthday</td>
            <td>{{ scores.0 }}</td>
        </tr>

        <tr>
            <td>parade</td>
            <td>{{ scores.1 }}</td>

        </tr>

           <tr>
            <td>picnic</td>
                          <td>{{ scores.2 }}</td>

        </tr>

           <tr>
            <td>show</td>
                           <td>{{ scores.3 }}</td>

        </tr>


           <tr>
            <td>sports</td>
                           <td>{{ scores.4 }}</td>

        </tr>


           <tr>
            <td>wedding</td>
                          <td>{{ scores.5 }}</td>

        </tr>

    </table>
</center>







    <center>
       <h1><span class="label label-default">{{ labels }}</span></h1>
    </center>


